basePath: /api/v1
definitions:
  model.AccelerationSensor:
    properties:
      measurements:
        items: {}
        type: array
      type:
        type: string
    type: object
  model.Gateway:
    properties:
      id:
        type: string
      ip_address:
        type: string
      last_contact:
        type: string
      network_segment:
        type: integer
      online:
        type: boolean
      tags:
        items:
          $ref: '#/definitions/model.Tag'
        type: array
    type: object
  model.GatewayConfig:
    type: object
  model.Tag:
    properties:
      address:
        type: string
      last_contact:
        type: string
      name:
        type: string
      online:
        type: boolean
      sensors:
        items: {}
        type: array
    type: object
info:
  contact: {}
paths:
  /acc-data/get/{tag}/{page}:
    get:
      consumes:
      - application/json
      description: gets data of the specified tag - get your tags via "list" first
      parameters:
      - description: the tags name
        example: '"ruuvi_1234"'
        in: path
        name: tag
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: gets acc data of the specified tag
      tags:
      - acc-data
  /acc-data/list:
    get:
      consumes:
      - application/json
      description: gets data of the specified tag - get your tags via "list" first
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.AccelerationSensor'
            type: array
      summary: gets acc data of the specified tag
      tags:
      - acc-data
  /config/list:
    get:
      consumes:
      - application/json
      description: get configs of gateways to be able to decide on version updates
        etc.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.GatewayConfig'
            type: array
      summary: lists available configs
      tags:
      - config
  /ping:
    get:
      consumes:
      - application/json
      description: do ping
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ping example
      tags:
      - example
  /structure/gateway/list:
    get:
      consumes:
      - application/json
      description: lists gateways
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Gateway'
            type: array
      summary: lists available gateways
      tags:
      - structure
  /structure/tag/list/{gateway_id}:
    get:
      consumes:
      - application/json
      description: lists tags
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Gateway'
            type: array
      summary: lists available tags
      tags:
      - structure
swagger: "2.0"
